body, html 
{
    padding: 0px;
    margin: 0px;

    background-color: #313131;
    overflow-x: hidden;

    color: #ffffff;
    font-family:  "Source Code Pro", Consolas, monospace, "Nimbus Mono PS", 'Courier New', Courier;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
} 

header, div
{
    margin: auto;
    padding: 0px;

    width: 600px;
    height: 600px;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pic
{
    width: 350px;

    margin-left: 125px;
    margin-right: 125px;
}

#scroll
{
    width: 75px;
    height: 75px;

    margin-left: auto;
    margin-right: auto;
}

#name, h1
{
    font-size: 4em;
    margin-bottom: 0px;
    margin-top: 0px;
}


h2
{
    font-size: 2.7em;
    margin-bottom: 0px;
    margin-top: 0px;
}

section
{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

p
{
    text-align: justify;
}

ul
{
    text-align: start;
}

.btn
{

    display: flex;
    width: max-content;
    padding: 10px;

    margin-left: auto;
    margin-right: auto;

    border: 1px solid #fff;
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    text-decoration: none;


}

.btn:hover
{
    text-decoration: underline;
}

.btn-img
{
    height: 21px;
    padding-right: 5px;
}


.btn-txt {
    padding-left: 5px;
}